<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>小米账号 - 登录</title>
    <link rel="stylesheet" href="css/login.css" />
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/qs.min.js"></script>
</head>

<body>
    <!-- 顶部logo -->
    <div class="header">
        <div class="top-log">
            <a href="index.html"><img src="img/login/mistore_logo.png" alt="" /></a>
        </div>
    </div>

    <!-- 登录banner -->
    <div class="login-banner">
        <div class="login-form">
            <div class="top-text">
                <span class="login-text" :class="{active:show==1}" @click="show=1">账号登录</span>
                <span class="split">|</span>
                <span class="login-text" :class="{active:show==2}" @click="show=2">扫码登录</span>
            </div>
            <div class="content">
                <div class="login-content" id="content1" v-show="show==1">
                    <div class="login-input">
                        <form action="/user/login">
                            <input type="text" v-model="login.uname" id="uname" name="uname" placeholder="邮箱/手机号码/小米ID">
                            <input type="password" v-model="login.upwd" id="upwd" name="upwd" placeholder="密码">
                            <div class="err-msg" style="display: none">
                                <div class="err-icon"></div>
                                <span>用户名或密码不正确</span>
                            </div>
                            <input type="button" id="ulogin" value="登录" @click="log()">
                        </form>
                    </div>
                    <div class="form-bottom">
                        <span class="form-bottom-left">
                            <a href="user_register.html" class="active">手机短信登录/注册</a>
                        </span>
                        <div class="form-bottom-right">
                            <a href="user_register.html">立即注册</a>
                            <span>|</span>
                            <a href="#">忘记密码？</a>
                        </div>
                    </div>
                    <div class="icon">
                        <fieldset>
                            <legend>其他方式登录</legend>
                        </fieldset>
                        <ul class="clearfix">
                            <li>
                                <a href="#" id="qq">
                                    <div id="qq-icon"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" id="weibo">
                                    <div id="weibo-icon"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" id="zfb">
                                    <div id="zfb-icon"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" id="wechat">
                                    <div id="wechat-icon"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="login-content" id="content2" v-show="show==2">
                    <img src="img/erweima.png" alt="" />
                    <div class="erweima-text">
                        <p>使用<span>小米商城APP</span>扫一扫</p>
                        <p>小米手机可打开「设置」>「小米帐号」扫码登录</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- 底部-->
    <div class="footer">
        <div class="footer-top">
            <ul class="clearfix">
                <li><a href="#">简体</a>|</li>
                <li><a href="#">繁体</a>|</li>
                <li><a href="#">English</a>|</li>
                <li><a href="#">常见问题</a>|</li>
                <li><a href="#">隐私政策</a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>
                <a href="#">小米公司版权所有-京ICP备10046444-</a>
                <img src="img/login/ghs.png" alt="" />
                <a href="#">京公网安备11010802020134号-京ICP证110507号</a>
            </p>
        </div>
    </div>
    <script>
        //切换二维码登录
        new Vue({
            el: ".login-form",
            data: {
                show: 1,
                login: {
                    uname: "",
                    upwd: ""
                }
            },
            methods: {
                //验证登录
                log() {
                    var obj = Qs.stringify({
                        uname: this.login.uname,
                        upwd: this.login.upwd
                    });
                    axios({
                        method: "POST",
                        url: "http://127.0.0.1:90/user/login",
                        data: obj,
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    }).then(res => {
                        console.log(res.data);
                        if (res.data.code == 1) {
                            alert("登录成功!")
                        } else {
                            alert("登录失败!")
                        }
                    })
                }
            }
        })
    </script>
</body>

</html>